{% extends "base.html" %}
{% block title %}
    {{ recipe_object.title }} -
    Scrumptious Recipes
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a href="{% url "recipe_list" %}">Main Page</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}" alt="recipe object">
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <div class="Ingredients">
            <h2>Ingredients</h2>
            <table>
                <th>
                    <tr>
                        <th>Amount</th>
                        <th>Food item</th>
                    </tr>
                </th>
                <tbody>
                    <tr>
                        <td>1 cup</td>
                        <td>Green beans</td>
                    </tr>
                    <tr>
                        <td>3 ears</td>
                        <td>Fresh corn</td>
                    </tr>
                    <tr>
                        <td>2 cups</td>
                        <td>Tomatillo salsa</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Corn tortillas</td>
                    </tr>
                    <tr>
                        <td>0.5 cups</td>
                        <td>Cotija cheese</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
            <li>{{ step.step_text }}</li>
            {% endfor %}
        </ol>
    </main>
{% endblock content %}
