@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
. {
font: 'Roboto', sans-serif;
}

body {
margin: 0%;
padding: 0%;
min-height: 100vh;
display: flex;
flex-direction: column;
}

img {
height: 200px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main {
margin-left: 32px;
margin-bottom: 50px;
}
nav {
border-bottom:2px solid black;
padding: 16px;
background-color: #FF5A33;
font-family: 'Roboto', sans-serif;
}

a:visited {
color: rgb(90, 3, 87);
}

a {
color: rgb(4, 138, 4);
text-decoration: none;
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: bold;
}
a:hover {
color: rgb(39, 169, 234);
}

nav a {
color: white;
text-decoration: none;
font-weight: bold;
padding: 18px;
font-family: 'Roboto', sans-serif;
}
h1:visited {
color: rgb(90, 3, 87);
font-family: 'Roboto', sans-serif;
font-weight: bold;
}

h1:link {
color: rgb(3, 81, 3);
font-family: 'Roboto', sans-serif;
font-weight: bold;
}

h1:hover {
color:rgb(39, 169, 234);
font-family: 'Roboto', sans-serif;
font-weight: bold;
}

h1 {
font-family: 'Roboto', sans-serif;
color: rgb(3, 81, 3);
font-weight: bold;
font-size: 18px;
}
h2 {
font-family: 'Roboto', sans-serif;
font-weight: bold;
}
h3 {
color: rgb(3, 81, 3);
font-family: 'Roboto', sans-serif;
font-weight: bold;
}
div.ingredients {
display: grid;
grid-template-columns: auto;
}
tr:nth-child(even) {
grid-column: 2;
background: rgba(0, 0, 0, 10%);
}
th {
background: white;
}
table {
font-weight: bold;
}
ol {
font-weight: bold;
}
footer {
margin-top: auto;
margin-left: 0px;
padding-top: 20px;
padding-left: 20px;
padding-right: 24px;
padding-bottom: 20px;
margin-bottom: 10px;
background-color: #B4CF66;
color: #053c05;
font-family: 'Roboto', sans-serif;
font-weight: bold;
font-size: 14px;
}
#container {
display: grid;
grid-template-columns: repeat(4, 1fr);
}
p {
font-family: 'Roboto', sans-serif;
font-weight: bold;
}   font-size: 10px;
